*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Nunito Sans", sans-serif;
}
button:focus {
  outline: none;
  cursor: pointer;
}
.app {
  min-height: 100vh;
  background-color: hsl(0, 0%, 98%);
}
.app.dark {
  background-color: hsl(207, 26%, 17%);
}
.app__main {
  padding: 4rem 5rem;
}

@media (max-width: 389px) {
  .app__main {
    padding: 4rem 2rem;
  }
}
